/*
 * HEADER
 */

.header {
  width: 100%;
  height: 70px;
}

.header__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00277e;
}

.header__title {
  font-size: 26px;
  font-weight: bold;
  margin-left: 35px;
}

.header__nav {
  width: 380px;
  margin-right: 35px;
  font-size: 18px;
  font-weight: bold;
}

.header__nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: inherit;
}

/*
 * FIRSTVIEW
 */

.firstview {
  padding-top: 110px;
}

.firstview__inner {
  display: flex;
}

.firstview__left {
  margin-top: auto;
}

.firstview__title {
  font-size: 78px;
  font-weight: normal;
  color: black;
}

.firstview__box {
  width: 75vw;
  height: 210px;
  background-color: #00277e;
}

.firstview__image {
  margin-bottom: 100px;
  margin-left: -25vw;
}

.firstview__image img {
  width: 50vw;
  height: auto;
}
