/*
 * HEADER
 */

.header {
  width: 100%;
  height: 70px;
}

.header__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00277e;
}

.header__title {
  font-size: 26px;
  font-weight: bold;
  margin-left: 35px;
}

.header__nav {
  width: 380px;
  margin-right: 35px;
  font-size: 18px;
  font-weight: bold;
}

.header__nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: inherit;
}

/*
 * FIRSTVIEW
 */

.firstview {
  width: 100%;
  padding-top: 110px;
}

.firstview__titled-image {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.firstview__title-white {
  margin-top: auto;
  font-size: 78px;
  font-weight: normal;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 30;
}

.firstview__title-black {
  margin-top: auto;
  white-space: nowrap;
  overflow: hidden;
}

.firstview__title-black::after {
  content: "毎日を笑顔に";
  font-size: 78px;
  font-weight: normal;
  color: black;
  position: relative;
  z-index: 40;
}

.firstview__image {
  margin-bottom: -110px;
  position: relative;
  z-index: 20;
}

.firstview__image img {
  width: 760px;
  height: auto;
}

.firstview__box {
  width: 75vw;
  height: 210px;
  background-color: #00277e;
  position: relative;
  z-index: 10;
}
